
:root {
	--primary: #054459;
	--work: #d5b900;
	--personal: #EA40A4;
	--delete: #ff5b57;
	--work-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
	--personal-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Signika Negative', sans-serif;
}

input:not([type="radio"]):not([type="checkbox"]), button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #fff;
	background: radial-gradient(#048576, #59a69f);
}

header{
  width: auto;
  height: 80%;
  background-color: #054459;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

.logo{
  font-size: 45px;
  font-weight: bold;
  color: #e7978b;
}

.logo-line{
  display: none;
}

.nav-bar ul{
  display: flex;
  margin-top: 15px;
}

.nav-bar li a{
  display: block;
  color: #fff;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}

.nav-bar ul li a:hover{
  color: #e7978b;
  background-color: #042f3d;
}

.nav-bar ul li a.active{
  color: #fff;
  background-color: #079a89;
}

.nav-bar ul li a:link{
  text-decoration: none;
}

.container{
  position: relative;
  width: 1200px;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #054459;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  margin-bottom: 50px;
}

.container-head{
  text-align: center;
  position: relative;
  width: auto;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  margin-bottom: 50px;
}

section {
  width: 1000px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

h3 {
  color: #fff;
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 0.5rem;
  text-align: center;
}

h2{
  color: #fff;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-align: center;
  margin-top: 30px;
  text-transform: uppercase;
}

.create-todo input[type="text"] {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: #fff;
	background-color: #369b90;
	border-radius: 0.5rem;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	margin-bottom: 1.5rem;
}

.create-todo input::placeholder{
  color: #266d64;
}

.create-todo .options {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
	margin-bottom: 1.5rem;
}

.create-todo .options label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #054459;
	padding: 1.5rem;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	border-radius: 0.5rem;
	cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

.bubble {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 999px;
	border: 2px solid var(--work);
	box-shadow: var(--work-glow);
}

.bubble.personal {
	border-color: var(--personal);
	box-shadow: var(--personal-glow);
}

.bubble::after {
	content: '';
	display: block;
	opacity: 0;
	width: 0px;
	height: 0px;
	background-color: var(--work);
	box-shadow: var(--work-glow);
	border-radius: 999px;
	transition: 0.2s ease-in-out;
}

.bubble.personal::after {
	background-color: var(--personal);
	box-shadow: var(--personal-glow);
}

input:checked ~ .bubble::after {
	width: 10px;
	height: 10px;
	opacity: 1;
}

.create-todo .options label div {
  color: #fff;
  font-size: 1.125rem;
  margin-top: 1rem;
}

.create-todo input[type="submit"] {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	background-color: var(--primary);
	box-shadow: var(--personal-glow);
    border: 1px solid #042f3d;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.2s ease-out;
}

.create-todo input[type="submit"]:hover {
	background-color: transparent;
}

.todo-list .list {
	margin: 1rem 0;
}

.todo-list .todo-item {
	display: flex;
	align-items: center;
	background-color: #0b7fa6;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	margin-bottom: 1rem;
}

.todo-item label {
	display: block;
	margin-right: 1rem;
	cursor: pointer;
}

.todo-item .todo-content {
	flex: 1 1 0%;
    width: 700px;
}

.todo-item .todo-content input {
	color: #fff;
	font-size: 20px;
	width: 100%;
}

.todo-item .actions {
	display: flex;
	align-items: center;
}

.todo-item .actions button {
	display: block;
	padding: 0.5rem;
	border-radius: 0.25rem;
    border: 1px solid #042f3d;
	color: #FFF;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover {
	background-color: transparent;
}

.todo-item .actions .edit {
	margin-right: 0.5rem;
	background-color: var(--primary);
}

.todo-item .actions .delete {
	background-color: var(--delete);
}

.todo-item.done .todo-content input {
	text-decoration: line-through;
	color: #042f3d;
}
